@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {

    --black: #222222;
    --white: #ffffff;
    
    --txt: var(--black);
    --sub-txt: #787878;

    --bg: #FFFEFC;

}

/* S : scrollbar */

    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.3); 
    }

/* E : scrollbar */

/* S : layout */

    /* S : header */
        #header .header-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            padding: 0 1.5rem;
        }
        #header nav ul {
            display: flex;
            align-items: center;
        }
        #header nav ul li {
            padding: 0 16px;
            font-weight: 500;
        }
        #header nav ul li:hover {
            opacity: 0.8;
        }
        #header .logo {
            font-size: 24px;
            font-weight: 900;
        }

        @media (max-width: 767px) {
            #header nav ul li {
                padding: 0 8px;
            }
        }
    /* E : header */

    #wrap {
        width: 100%;
        height: 100vh;
        padding: 32px;
        background: var(--bg);
    }
    #wrap .inner {
        width: 100%;
        height: 100%;
        outline: 6px solid var(--black);
        overflow-y: auto;
    }

    #content-wrap {
        padding: 24px 24px 120px 24px;
    }

    #contents {
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
    }

/* E : layout */

/* S : floating */

    .floating-wrap {
        position: fixed;
        right: 52px;
        bottom: 52px;
    }
    .floating-wrap .btn-float {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background: var(--black);
    }

/* E : floating */

/* S : popup */
    
    .popup-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10001;
    }
    .popup-wrap::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
    }
    .popup-wrap .popup {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
        width: 100%;
        max-height: 90vh;
        padding: 20px 40px 40px 40px;
        background: var(--white);
        overflow-y: auto;
        overscroll-behavior: contain;
        border: 2px solid var(--black);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
    }
    .popup-wrap .popup .popup-header {
        text-align: right;
        margin-bottom: 1.2rem;
    }
    .popup-wrap .popup .popup-content {
        text-align: center;
    }

    @media (max-width: 1200px) {
        .popup-wrap .popup {
            width: calc(100% - 48px);
        }
    }

    @media (max-width: 767px) {
        .popup-wrap .popup {
            padding: 16px 24px 24px 24px;
        }
    }

/* E : popup */